<!DOCTYPE html>
{% extends 'manager_base.html' %} 
{% load static %} 
    {% block head %}
        <link href="{% static 'my_css/qr.css' %}" rel="stylesheet" />
    {% endblock %} 
{% block body %} 
    {% if messages and order_det.table_no.rest_id == user.user_id %}
        {% for message in messages %} 
            {% if message.tags == 'warning' %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %} 
        {% endfor %} 
    {% endif %}

    <div class="card bg-white">
    <div class="card-header card-header-primary">
        <h4 class="card-title">Add Menu</h4>
        <p class="card-category">Add Menu From Here</p>
    </div>
    <br />
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-12">
            <div class="form-group">
            <label class="bmd-label-floating">Dish Name:</label>
            {{ form.Dish_Name }}
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
            <label class="bmd-label-floating">Dish Description:</label>
            {{ form.Dish_Description }}
            </div>
        </div>
        <div class="col-md-12 ml-3">
            <div class="form-group">
            {{ form.speciality}}
            <label class="form-check-label" for="flexCheckDefault">
                Speciality
            </label>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
            <label class="bmd-label-floating">Price:</label>
            {{ form.Price }}
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
            <label class="bmd-label-floating">Quantity:</label>
            {{ form.pices }}
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
            <label for="exampleFormControlSelect1">Category</label>
            {{ form.category }}
            </div>
        </div>

        <div class="col-md-12">
            <div class="form">
            <label class="bmd-label-floating">Add Dish Image:</label>
            {{ form.Dish_image }}
            </div>
        </div>

        <center>
            <button class="btn btn-success" type="submit">submit</button>
        </center>
        </form>
    </div>
    </div>
{% endblock %}
