<!DOCTYPE html>
{% extends 'manager_base.html' %} 
{% load static %} 
  {% block head %}
    <link href="{% static 'my_css/qr.css' %}" rel="stylesheet" />
  {% endblock %} 
{% block body %} 
  {% if messages and order_det.table_no.rest_id == user.user_id %}
    {% for message in messages %} 
      {% if message.tags == 'warning' %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %} 
    {% endfor %} 
  {% endif %}
  
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Table List</h4>
        <p class="card-category">Manage Table List From Here</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
              <tr>
                <th>ID</th>
                <th>Table No</th>
                <th>Status</th>
                <th>Download Qr</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for i in tables %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.table_no }}</td>
                <td>{{ i.status }}</td>
                <td>
                  <a class="btn btn-primary" href="{{ i.qr.url }}" download
                    >Download Qr</a
                  >
                </td>
                <td class="td-actions">
                  <a
                    href="{% url 'manager:edit_table' i.id %}"
                    class="btn btn-success"
                    data-original-title=""
                    title=""
                  >
                    <i class="material-icons">edit</i>
                    <div class="ripple-container"></div
                  ></a>

                  <a
                    href="{% url 'manager:delete_table' i.id %}"
                    class="btn btn-danger"
                    data-original-title=""
                    title=""
                  >
                    <i class="material-icons">close</i>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
