<!DOCTYPE html>
{% extends 'res_base.html' %} 
{% load static %} 
    {% block head %}
        <link href="{% static 'my_css/qr.css' %}" rel="stylesheet" />
    {% endblock %} 
{% block body %} 
    {% if messages and order_det.table_no.rest_id == user.user_id %}
        {% for message in messages %} 
            {% if message.tags == 'warning' %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %} 
        {% endfor %} 
    {% endif %}
    
    <div class="card bg-white">
    <div class="card-header card-header-primary">
        <h4 class="card-title">Update Per Month Expenses</h4>
        <p class="card-category">Update Per Month Expenses From Here</p>
    </div>
    <br />
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="col-md-12">
            <div class="form-group">
            <label class="bmd-label-floating">Rent:</label>
            {{ form.Rent }}
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
            <label class="bmd-label-floating">Light Bill:</label>
            {{ form.Light_Bill }}
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
            <label class="bmd-label-floating">Others:</label>
            {{ form.Others }}
            </div>
        </div>

        <center>
            <button class="btn btn-success" type="submit">Update</button>
        </center>
        </form>
    </div>
    </div>
{% endblock %}
